############################################
## FSW_Objects.cfg
############################################

ifdef SECTION_CREATE

	select sub_system_adcs
	{
		create FOB_CtrlParms_Attitude FOB_CtrlParms_Attitude_Standard;
		create FOB_CtrlParms_Momentum FOB_CtrlParms_Momentum_Standard;
		create FOB_EphemTable FOB_EphemTable;
		create FOB_EphemTable FOB_EphemTable_OrbitingTarget;
		create FOB_Mode_SlewLimitsActs FOB_Mode_SlewLimitsActs_ActLimits;
		create FOB_Mode_SlewLimitsScalar FOB_Mode_SlewLimitsScalar_ScalarLimits;
		create FOB_ModeType_Hold FOB_ModeType_Hold_Hold;
		create FOB_ModeType_RateDamp FOB_ModeType_RateDamp_RateDamp;
		create FOB_ModeType_Tracking FOB_ModeType_Tracking_EarthTrack;
		create FOB_ModeType_Tracking FOB_ModeType_Tracking_InertialPoint;
		create FOB_ModeType_Tracking FOB_ModeType_Tracking_MarsTrack;
		create FOB_ModeType_Tracking FOB_ModeType_Tracking_OrbitTrack;
		create FOB_ModeType_Tracking FOB_ModeType_Tracking_SunTrack;
		create FOB_ModeType_Tracking FOB_ModeType_Tracking_TargetTrack;
		create FOB_ModeType_Tracking FOB_ModeType_Tracking_VelocityTrack;
		create FOB_Target FOB_Target_GeneralTarget;
		create FOB_Target FOB_Target_OrbitingTarget;
	}

endif


ifdef SECTION_CONNECT

	select FOB_CtrlParms_Attitude_Standard
	{
		Connection_ActuatorSetIF_ATC[0] = FSW_ActProc_RW_Reaction_Wheels_Set.FSW_ActProc_TrqCmd;
		Connection_ActuatorSetIF_ATC[1] = FSW_ActProc_RW_Reaction_Wheels_Set.FSW_ActProc_TrqCmd;
		Connection_ActuatorSetIF_ATC[2] = FSW_ActProc_RW_Reaction_Wheels_Set.FSW_ActProc_TrqCmd;
	}

	FOB_Mode_SlewLimitsActs_ActLimits.Connection_FSW_VehicleState = FSW_VehicleState.FSW_VehicleState;

	FOB_ModeType_Tracking_EarthTrack.AlignCelestialBody = UTL_CelestialBody_Earth.UTL_CentralBody;

	FOB_ModeType_Tracking_InertialPoint.AlignCelestialBody = UTL_CelestialBody_Mars.UTL_CentralBody;

	FOB_ModeType_Tracking_MarsTrack.AlignCelestialBody = UTL_CelestialBody_Mars.UTL_CentralBody;

	select FOB_ModeType_Tracking_OrbitTrack
	{
		AlignCelestialBody = UTL_CelestialBody_Mars.UTL_CentralBody;
		AlignTarget = FOB_Target_OrbitingTarget.FOB_Target;
	}

	FOB_ModeType_Tracking_SunTrack.AlignCelestialBody = UTL_CelestialBody_Mars.UTL_CentralBody;

	select FOB_ModeType_Tracking_TargetTrack
	{
		AlignCelestialBody = UTL_CelestialBody_Mars.UTL_CentralBody;
		AlignTarget = FOB_Target_GeneralTarget.FOB_Target;
	}

	FOB_ModeType_Tracking_VelocityTrack.AlignCelestialBody = UTL_CelestialBody_Mars.UTL_CentralBody;

	FOB_Target_GeneralTarget.Connection_UTL_CentralBody = UTL_CelestialBody_Mars.UTL_CentralBody;

	select FOB_Target_OrbitingTarget
	{
		Connection_FOB_EphemTable = FOB_EphemTable_OrbitingTarget.FOB_EphemTable;
		Connection_UTL_CentralBody = UTL_CelestialBody_Mars.UTL_CentralBody;
	}

endif


ifdef SECTION_0

	select FOB_CtrlParms_Attitude_Standard
	{
		F_LoopFilter_ATC[0] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		F_PosFilter_ATC[0] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		F_RateFilter_ATC[0] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		F_FfwFilter_ATC[0] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		F_LoopFilter_ATC[1] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		F_PosFilter_ATC[1] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		F_RateFilter_ATC[1] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		F_FfwFilter_ATC[1] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		F_LoopFilter_ATC[2] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		F_PosFilter_ATC[2] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		F_RateFilter_ATC[2] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		F_FfwFilter_ATC[2] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		Q_BDY2ATC = [ 0.0e+0 0.0e+0 0.0e+0 1.0e+0 ];
		V_PosGain_ATC_1ps2 = [ 1.137475492174e+0 1.137475492174e+0 1.137475492174e+0 ];
		V_LowerPosLimit_ATC_rd = [ -1.0e+9 -1.0e+9 -1.0e+9 ];
		V_UpperPosLimit_ATC_rd = [ 1.0e+9 1.0e+9 1.0e+9 ];
		V_RateGain_ATC_1ps = [ 1.4e+0 1.4e+0 1.4e+0 ];
		V_LowerRateLimit_ATC_rdps = [ -1.0e+9 -1.0e+9 -1.0e+9 ];
		V_UpperRateLimit_ATC_rdps = [ 1.0e+9 1.0e+9 1.0e+9 ];
		V_FfwGain_ATC = [ 1.0e+0 1.0e+0 1.0e+0 ];
		V_LowerFfwLimit_ATC_Nm = [ -1.0e+9 -1.0e+9 -1.0e+9 ];
		V_UpperFfwLimit_ATC_Nm = [ 1.0e+9 1.0e+9 1.0e+9 ];
		V_LoopGain_ATC_kgm2 = [ 4.0e+0 5.0e+0 2.5e+0 ];
		V_LowerLoopLimit_ATC_Nm = [ -1.0e+9 -1.0e+9 -1.0e+9 ];
		V_UpperLoopLimit_ATC_Nm = [ 1.0e+9 1.0e+9 1.0e+9 ];
		V_Int1Gain_ATC_1ps3 = [ 2.3823230999e-1 2.3823230999e-1 2.3823230999e-1 ];
		V_LowerInt1Limit_ATC_rdps2 = [ -1.0e-3 -1.0e-3 -1.0e-3 ];
		V_UpperInt1Limit_ATC_rdps2 = [ 1.0e-3 1.0e-3 1.0e-3 ];
		V_Int2Gain_ATC_1ps4 = [ 0.0e+0 0.0e+0 0.0e+0 ];
		V_LowerInt2Limit_ATC_rdps2 = [ 0.0e+0 0.0e+0 0.0e+0 ];
		V_UpperInt2Limit_ATC_rdps2 = [ 0.0e+0 0.0e+0 0.0e+0 ];
		V_LowerInt2Limit_ATC_rdps3 = [ -1.0e-3 -1.0e-3 -1.0e-3 ];
		V_UpperInt2Limit_ATC_rdps3 = [ 1.0e-3 1.0e-3 1.0e-3 ];
		B_ResetOnModeChange = 1;
		B_InclFfwdGuidanceCmd = 1;
		B_InclFfwdGyroscopicTrq = 1;
		B_InclFfwdMomentumCtrlTrq = 1;
	}

	select FOB_CtrlParms_Momentum_Standard
	{
		F_TotMomFilter_MMC[0] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		F_TotMomFilter_MMC[1] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		F_TotMomFilter_MMC[2] = [ [ 1.0e+0 ][ 1.0e+0 ] ];
		E_MomCtrlRefFrame = 0; # 0: BDY, 1: CBI, 2: ORB
		Q_REF2MMC = [ 0.0e+0 0.0e+0 0.0e+0 1.0e+0 ];
		V_MomCtrlGain_MMC_1ps = [ 1.0e-2 1.0e-2 1.0e-2 ];
		V_MomCtrlTrqLowerLimit_MMC_Nm = [ -1.0e+0 -1.0e+0 -1.0e+0 ];
		V_MomCtrlTrqUpperLimit_MMC_Nm = [ 1.0e+0 1.0e+0 1.0e+0 ];
		V_MomentumCmd_MMC_Nms = [ 0.0e+0 0.0e+0 0.0e+0 ];
		D_SCMomentumGain = 1.0e+0;
		D_ActMomentumGain = 1.0e+0;
		B_ContinuousControl = 1;
		D_ThresholdControl_Timeout_s = 3.6e+3;
		V_StartDeadband_MMC_Nms = [ 5.0e-1 5.0e-1 5.0e-1 ];
		V_CompleteDeadband_MMC_Nms = [ 1.0e-1 1.0e-1 1.0e-1 ];
		E_MomCtrlState = 1; # 0: AlwaysDisabled, 1: Enabled_IdleDisabled, 2: Disabled_IdleEnabled, 3: AlwaysEnabled
	}

	select FOB_EphemTable_OrbitingTarget
	{
		D_Epoch_s[0] = 1.6145784e+9;
		V_Position_CBI_m[0] = [ -4.4e+6 -5.65e+6 -3.225e+6 ];
		V_Velocity_CBI_mps[0] = [ 6.94e+2 -1.489e+3 1.654e+3 ];
	}

	select FOB_Mode_SlewLimitsActs_ActLimits
	{
		E_SlewInitAttSource = 0; # 0: Commanded, 1: Estimated
		D_SlewAccelScaleFactor = 8.0e-1;
		D_SlewRateScaleFactor = 8.0e-1;
		B_UseSlewRateConstLimit = 0;
		D_SlewRateLimit_rdps = 0.0e+0;
		V_PerActMomentum_BDY_Nms[0] = [ 8.0e-1 0.0e+0 0.0e+0 ];
		V_PerActTorque_BDY_Nm[0] = [ 3.491e-2 0.0e+0 0.0e+0 ];
		V_PerActMomentum_BDY_Nms[1] = [ 0.0e+0 8.0e-1 0.0e+0 ];
		V_PerActTorque_BDY_Nm[1] = [ 0.0e+0 3.491e-2 0.0e+0 ];
		V_PerActMomentum_BDY_Nms[2] = [ 0.0e+0 0.0e+0 8.0e-1 ];
		V_PerActTorque_BDY_Nm[2] = [ 0.0e+0 0.0e+0 3.491e-2 ];
	}

	select FOB_Mode_SlewLimitsScalar_ScalarLimits
	{
		E_SlewInitAttSource = 0; # 0: Commanded, 1: Estimated
		D_AccelLim_rdps2 = 4.36332312998582e-3;
		D_RateLim_rdps = 3.49065850398866e-2;
	}

	select FOB_ModeType_RateDamp_RateDamp
	{
		D_MomErrPersistLimit_s = 6.0e+1;
		D_RateErrPersistLimit_s = 6.0e+1;
		D_MomErrMagThresh_Nms = 5.0e-1;
		D_RateErrMagThresh_rdps = 1.74532925199433e-3;
		V_RateCmd_BDY_rdps = [ 0.0e+0 0.0e+0 0.0e+0 ];
	}

	select FOB_ModeType_Tracking_EarthTrack
	{
		E_AlignEphemIndex = 2; # 0: InertialFixed, 1: SC2Sun, 2: SC2NadirDetic, 3: SC2NadirCentric, 4: SCVelocity, 5: SCMagField, 6: SC2Tgt, 7: TgtNormal, 8: TrueNorth, 9: TrueNorthAtTgt, 10: TgtVelocity
		V_Align_UBDY = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UBDY = [ 1.0e+0 0.0e+0 0.0e+0 ];
		V_Align_UCBI = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UCBI = [ 1.0e+0 0.0e+0 0.0e+0 ];
		Q_CBI2BDY = [ 0.0e+0 0.0e+0 0.0e+0 1.0e+0 ];
		E_RotisserieOption = 0;
		D_RotisserieRate_rdps = 0.0e+0;
	}

	select FOB_ModeType_Tracking_InertialPoint
	{
		E_AlignEphemIndex = 0; # 0: InertialFixed, 1: SC2Sun, 2: SC2NadirDetic, 3: SC2NadirCentric, 4: SCVelocity, 5: SCMagField, 6: SC2Tgt, 7: TgtNormal, 8: TrueNorth, 9: TrueNorthAtTgt, 10: TgtVelocity
		V_Align_UBDY = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UBDY = [ 0.0e+0 1.0e+0 0.0e+0 ];
		V_Align_UCBI = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UCBI = [ 1.0e+0 0.0e+0 0.0e+0 ];
		Q_CBI2BDY = [ 0.0e+0 0.0e+0 0.0e+0 1.0e+0 ];
		E_RotisserieOption = 0;
		D_RotisserieRate_rdps = 0.0e+0;
	}

	select FOB_ModeType_Tracking_MarsTrack
	{
		E_AlignEphemIndex = 2; # 0: InertialFixed, 1: SC2Sun, 2: SC2NadirDetic, 3: SC2NadirCentric, 4: SCVelocity, 5: SCMagField, 6: SC2Tgt, 7: TgtNormal, 8: TrueNorth, 9: TrueNorthAtTgt, 10: TgtVelocity
		V_Align_UBDY = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UBDY = [ 1.0e+0 0.0e+0 0.0e+0 ];
		V_Align_UCBI = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UCBI = [ 1.0e+0 0.0e+0 0.0e+0 ];
		Q_CBI2BDY = [ 0.0e+0 0.0e+0 0.0e+0 1.0e+0 ];
		E_RotisserieOption = 0;
		D_RotisserieRate_rdps = 0.0e+0;
	}

	select FOB_ModeType_Tracking_OrbitTrack
	{
		E_AlignEphemIndex = 6; # 0: InertialFixed, 1: SC2Sun, 2: SC2NadirDetic, 3: SC2NadirCentric, 4: SCVelocity, 5: SCMagField, 6: SC2Tgt, 7: TgtNormal, 8: TrueNorth, 9: TrueNorthAtTgt, 10: TgtVelocity
		V_Align_UBDY = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UBDY = [ 1.0e+0 0.0e+0 0.0e+0 ];
		V_Align_UCBI = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UCBI = [ 1.0e+0 0.0e+0 0.0e+0 ];
		Q_CBI2BDY = [ 0.0e+0 0.0e+0 0.0e+0 1.0e+0 ];
		E_RotisserieOption = 0;
		D_RotisserieRate_rdps = 0.0e+0;
	}

	select FOB_ModeType_Tracking_SunTrack
	{
		E_AlignEphemIndex = 1; # 0: InertialFixed, 1: SC2Sun, 2: SC2NadirDetic, 3: SC2NadirCentric, 4: SCVelocity, 5: SCMagField, 6: SC2Tgt, 7: TgtNormal, 8: TrueNorth, 9: TrueNorthAtTgt, 10: TgtVelocity
		V_Align_UBDY = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UBDY = [ 0.0e+0 1.0e+0 0.0e+0 ];
		V_Align_UCBI = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UCBI = [ 1.0e+0 0.0e+0 0.0e+0 ];
		Q_CBI2BDY = [ 0.0e+0 0.0e+0 0.0e+0 1.0e+0 ];
		E_RotisserieOption = 0;
		D_RotisserieRate_rdps = 0.0e+0;
	}

	select FOB_ModeType_Tracking_TargetTrack
	{
		E_AlignEphemIndex = 6; # 0: InertialFixed, 1: SC2Sun, 2: SC2NadirDetic, 3: SC2NadirCentric, 4: SCVelocity, 5: SCMagField, 6: SC2Tgt, 7: TgtNormal, 8: TrueNorth, 9: TrueNorthAtTgt, 10: TgtVelocity
		V_Align_UBDY = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UBDY = [ 0.0e+0 1.0e+0 0.0e+0 ];
		V_Align_UCBI = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UCBI = [ 1.0e+0 0.0e+0 0.0e+0 ];
		Q_CBI2BDY = [ 0.0e+0 0.0e+0 0.0e+0 1.0e+0 ];
		E_RotisserieOption = 0;
		D_RotisserieRate_rdps = 0.0e+0;
	}

	select FOB_ModeType_Tracking_VelocityTrack
	{
		E_AlignEphemIndex = 4; # 0: InertialFixed, 1: SC2Sun, 2: SC2NadirDetic, 3: SC2NadirCentric, 4: SCVelocity, 5: SCMagField, 6: SC2Tgt, 7: TgtNormal, 8: TrueNorth, 9: TrueNorthAtTgt, 10: TgtVelocity
		V_Align_UBDY = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UBDY = [ 0.0e+0 1.0e+0 0.0e+0 ];
		V_Align_UCBI = [ 0.0e+0 0.0e+0 1.0e+0 ];
		V_Clock_UCBI = [ 1.0e+0 0.0e+0 0.0e+0 ];
		Q_CBI2BDY = [ 0.0e+0 0.0e+0 0.0e+0 1.0e+0 ];
		E_RotisserieOption = 0;
		D_RotisserieRate_rdps = 0.0e+0;
	}

	select FOB_Target_GeneralTarget
	{
		V_StartPos_CBF_m = [ 2.74939024335257e+6 1.44089437036569e+5 -1.97681211915555e+6 ];
		V_EndPos_CBF_m = [ 2.74939024335257e+6 1.44089437036569e+5 -1.97681211915555e+6 ];
		D_GroundSpeed_kmps = 0.0e+0;
		E_TargetType = 0; # 0: SurfaceStatic, 1: OrbitalDynamic
	}

	select FOB_Target_OrbitingTarget
	{
		E_TargetType = 1; # 0: SurfaceStatic, 1: OrbitalDynamic
	}

endif


