#============================================================================
# 
#   Original Author: Jeffrey Smernoff, Advanced Solutions, Inc 
#  
#   Copyright 2006 Advanced Solutions, Inc. as an unpublished work.
#   All rights reserved. This computer software is a TRADE SECRET of
#   Advanced Solutions, Inc. and shall not be reproduced, disclosed,
#    or used without prior written permission of Advanced Solutions, Inc.
#
#   DESCRIPTION: Top Level Config File for SOLIS Modular C&DH Software
#
#============================================================================
#

ifndef CONDS
defined CONDS

defined USE_DEFAULT_RT_RATES
defined USE_INTERNAL_ERG1

endif

include "SOLIS.cfg"
